#IM_googleMap {
	width: 98%;
}

#mainTable > tbody > tr > td {
	vertical-align: top;
}

.qtip {
	z-index: 120;
	max-width: 500px;
}

.community {
	float: right; 
	color: black; 
	border : 3px solid LightGray; 
	margin-right: 10px; 
	padding-right: 5px; 
	padding-left: 5px
}

h1, h2 {
	color: #2c879b;
}

#IM_filter_popup_div h1 {
	font-size : 120% !important;
}

#IM_filter_popup_div h1, .IM_filter_popup_div h2 {
	color: #2c879b;
	margin-bottom: 1em !important;
}

a.encyLink, span.encyLink{
	margin-left: 5pt;
	margin-right: 5pt;
	padding-left : 2pt;
	padding-right : 2pt;
	border-radius: 5pt;
	border: 1pt solid;
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
	color: blue;
}

.singleRecord {
	line-height:1.35;
	font-family : arial unicode;
	font-size : 200%
}

.atlasSourceB {
	color: #2c879b;
	font-weight: bold;
}

.atlasSource {
	color: #2c879b;
}.IM_main_div table, .IM_main_div table::before, .IM_main_div table::after{
	box-sizing: border-box;
}

.IM_main_div div{
	box-sizing: initial;
}

.IM_main_div h2 {
	color: #2c879b;
	font-size : 100%;
}

.IM_error_message {
	color : red;
}

#IM_legend {
	font-size : 14px;
	overflow-y: auto;
	overflow-x : initial;
}

#IM_legend img {
	max-width : none;
}

.IM_main_div th, .IM_main_div td {
	padding : 0
}

.IM_symbol_table {
	border:0px;
	border-collapse: collapse;
	border-spacing: 0px;
	table-layout: auto;
	margin: 0;
}

.IM_symbol_table td, .symbolTable img { 
	padding:0px; 
	border-width:0px; 
	margin-left:0px;
	margin-right:-1px; 
	margin-top:0px;
	margin-bottom: -3px;
	line-height : 0;
}

#IM_legend .focused > td {
	font-weight : bold;
	color : #009999;
}

.chosen-container {
	font-size: 0.9rem; 
}

.collapseSymbol span {
	width : 19px;
	height: 19px;
	display: block;
	border-radius: 1em;
	background-color: white;
	color : gray;
	font-weight: bold;
	text-align: center !important;
	font-family: Arial;
	border : 0;
}

#IM_Syn_Map_Selection_chosen .chosen-drop {
	border-bottom: 0;
	border-top: 1px solid #aaa;
	top: auto;
	bottom: 40px;
}